@mixin transition($duration:0.4s, $delay:0s, $easing:ease-out, $property:all) {
    transition: $duration $delay $easing $property;
}

@mixin flex($align:unset ,$justify:unset) {
    display: flex;
    align-items: $align;
    justify-content: $justify;
}


@mixin position ($type, $top:0, $left:0, $right:0, $bottom:unset) {
  @if $type == "relative"{
      position: $type;
    }@else{
      position: $type;
      top: $top;
      left:$left;
      $right:$right;
  }
}



%heading{
    margin: 20px 100px;
    h2{
        font-size: 3rem;
        padding: 10px 0;
    }
    p{
        max-width: 500px;
        opacity: .7;
    }
}