#header{
   @include position(relative);
   @include flex(center, space-around);
   height: 100px;
   padding: 10px 0;
   max-width: 900px;
   margin: auto;


   .link{
       padding: 0 14px;
   }
}

#header .header__logo{
    font-size: 2rem;
}