#hero{
text-align: center;

.video-wrapper{
height: 70vh;
width: inherit;
}


.button{
padding: 10px;
height: 80px;
background: transparent;
border: 2px solid $white;
border-radius: 100px;
color: $white;

}
}